{# extends "TwigBundle::layout.html.twig" #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ asset('bundles/framework/css/structure.css', absolute=true) }}" rel="stylesheet" />
    <link href="{{ asset('bundles/framework/css/body.css', absolute=true) }}" rel="stylesheet" />
    {% block head %}{% endblock %}
</head>
<body>
<div id="content">

    {% block body %}

        {{ include('AcmeStoreBundle:Default:product.html.twig', { 'product': product }) }}

    {% endblock %}

</div>
</body>
</html>